student {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 3px solid #eee;
}

id,
name,
email,
department{
    font-style: normal;
    font-size: medium;
    color: red;
    display: block;
    margin-top: 10px;
}
